
@{
    ViewBag.Title = "About";
}

<div class="light-body-background-shop">

    <h2>Welcome to the "Goods for Nothing" Shop!</h2>
    <h4 style="font-style:italic">"For sell something useless, we must first buy something useless" C.Matroskin</h4>
    <br/>
    <p>
        Lorem ipsum dolor sit amet, ex viris omnes indoctum cum. Suas clita delicata eu sit, ea duo utamur scripta. Quidam rationibus et vim, melius impedit interpretaris sed ad, te assum melius pri. Eos ullum nonumy an, usu in viris quodsi detracto.
    </p>
    <p>
        Nec nullam melius tacimates an, suscipit persequeris ea nam, pro ignota nusquam eu. Cu fabulas scaevola indoctum usu. Ad atqui veritus per, fugit labores copiosae ut vix, qui eu dicta nonumes. Cu eum eius philosophia, eu tamquam incorrupte ius.
    </p>
    <p>
        Nec iudico impetus honestatis ad, pri cu facilisi sententiae dissentiunt. Quem timeam in vix, an his ferri euismod percipit, vel cu stet populo legendos. Eu vis ignota recusabo, ex ferri vocent tibique usu. Ad ceteros verterem honestatis eum.
    </p>
    <p>
        Ex aperiam pertinax pro, ad has paulo indoctum. Ei sit tale probo, mea at libris deterruisset. Dicit soluta integre est cu. Facilis definitiones an ius. Pri ad sonet molestie euripidis, augue definitiones eos at, vel ut diam lorem evertitur.
    </p>
    <p>
        Ex aliquid inimicus per, unum meis saepe eos cu. Ut eum tale dolores, eos ex ubique facilisi oportere, libris tritani necessitatibus ut his. Sit ad labore oblique indoctum, est ut tale dicam phaedrum. Recusabo intellegat vel no. Cu facete diceret conceptam sed. Sed ea ceteros lucilius.
    </p>
    <p>
        Ea his unum tota appellantur, euismod invidunt constituto eu qui, vix eu probo sensibus neglegentur. Dolor nostro euismod mel no. Agam brute impedit vis cu, his in adhuc postea consectetuer, graece menandri cum et. Cu qui mundi fabellas. Denique omittam in mel, duo augue erant legendos id, ea everti forensibus nam.
    </p>
    <p>
        Luptatum dignissim consequuntur vix te, verterem platonem oportere ut cum. Velit mundi iisque qui at, ei mea quod saperet ornatus, an sit dolorum lobortis mediocritatem. Quas expetendis duo ex, doming apeirian has ne, quas assum ne usu. Eruditi expetendis et sea. Omnium lobortis forensibus ea mel.
    </p>
    <p>
        Et ubique vulputate interesset eam, movet veritus conclusionemque sed an. Ex clita principes vel, graeco elaboraret ut mea. Eam at everti lobortis suscipiantur. Eum ei dico atomorum volutpat. An eos integre insolens constituam, ei eam cibo magna moderatius, causae assueverit ut pro. Velit sapientem pro an, eam quot adipisci platonem ei.
    </p>
    <p>
        Cu dolorem dissentiet ius, esse consetetur argumentum est cu, ius eu laboramus dissentiet adversarium. Pro audiam liberavisse ex, no lorem menandri volutpat mea. In cum aeterno efficiantur, pri eu etiam possit dolorem. Autem lorem adolescens te vim, eam atqui scripta vituperatoribus eu. Mei ad movet cotidieque.
    </p>
</div>